:root{
    --bg-red: rgb(253,233,233);
    --col-gray: rgb(126, 132, 136);
    --dark-red: rgb(244,72,72);
    --col-grey: rgb(173, 179, 185);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
.marg-top-bot{
    margin-top: 25px;
    margin-bottom: 15px;
}
.m-t-25{
    margin-top: 25px;
}
.m-r-20{
    margin-right: 20px;
}
.padd-r-1r{
    padding-right: 1rem;
}
.padd-l-1r{
    padding-left: 1rem;
}
.m-t-8{
    margin-top: 8px;
}
.f-bold{
    font-weight: bold;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
}
.justify-sb{
    justify-content: space-between;
}
.trans-9{
    transform: translate(0,9px);
}
.trans-4{
    transform: translate(0,4px);
}
.br-none{
    border: none;
}
.f-20{
    font-size: 20px;
}
div.col-grey{
    color: rgb(173, 179, 185);
}

.container{
    display: flex;
}
nav{
    flex-grow: 0;
    width: 300px;
    box-sizing: border-box;
    height: 97vh;
    position: relative;
}
.logo{
    text-align-last: justify;
}
.arrow{
    cursor: pointer;
}
.vertical-bot{
    vertical-align: bottom;
}
.nav-items{
    display: flex;
    height: 2.5rem;
    gap: 1rem;
    align-items: center;
    padding: 7px 0.9rem;
    width: 90%;
}
.nav-items img{
    vertical-align: bottom;
}

.side-red::before{
    position: absolute;
    right: 25px;
    content: '';
    width: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 2.4rem;
    background-color: var(--dark-red);
    /* height: 100%; */
}
ul.col-gray{
    color: var(--col-gray);
    margin: 0;
    padding-left: 0;
}
.nav-items{
    color: var(--col-gray);
    /* font-size: 0.9rem; */
}
.br-5{
    border-radius: 5px;
}
.padd-lr-15{
    padding: 0 15px;
}
.ds-none{
    display: none;
}
.bg-red{
    background-color: var(--bg-red);
    border-radius: 10px;
    color: red;
}

.bg-gray-r5{
    background-color: rgb(240, 243, 247);
    border-radius: 5px;
}
.light-red-theme{
    color: var(--dark-red);
    background-color: var(--bg-red);
}
.dark-red-theme{
    color: white;
    background-color: var(--dark-red);
}
.update button{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.update{
    background-color: rgb(252, 246, 246);
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    /* height: 180px; */
    position: absolute;
    bottom: 15px;
}
.update>div:first-child{
    color: var(--dark-red);
}
.update>div:nth-child(2){
    color: rgb(189, 194, 199);
    margin-top: 5px;
}

section{
    flex-grow: 1;
}
.search{
    display: grid;
    grid-template-rows: repeat(6,0.75rem);
    grid-template-columns: repeat(auto-fill,1px);
}
.search input{
    grid-area: 1 / 1 / -1 / -1;
}
.search input{
    border: none;
    font-size: 1.5rem;
    padding: 0 35% 0 70px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(156, 155, 155);
    color: var(--col-gray);
}
::placeholder{
    color: var(--col-gray);
    opacity: 0.6;
}
.search-img{
    grid-area: 3 / 24;
}
.search-icons{
    display: flex;
    grid-area: 3 / -340 / span 3 / span 340;
    transform: translate(0,-20%);
}
.user-icon img{
    /* margin-left: 1rem; */
    margin-right: 4px;
    width: 40px;
    height: 40px;
}
.user-icon{
    display: flex;
    font-size: 0.8rem;
    margin-right: 0.8rem;
}
.col-gray{
    color: var(--col-gray);
}
.gray-btn{
    background-color: white;
    border: 2px solid rgb(173, 179, 185);
    color: rgb(173, 179, 185);
}
.gray-btn img{
    transform: translate(0,-1px);
}
.style-btn button{
    height: 2.5rem;
    padding: 0 25px;
    border-radius: 6px;
    cursor: pointer;
}
.br-red{
    border-radius: 5px;
    border: 1px solid var(--dark-red);
    color: black;
    background-color: white;
}
.p-7-9{
    padding: 7px 9px;
}
.m-0-5{
    margin: 0 5px;
}
.h-30{
    height: 30px;
}
.filter{
    padding: 10px 15px 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
    border: 1px solid var(--dark-red);
    color: var(--dark-red);
    background-color: rgb(250, 239, 239);
    
}
.filter span{
    display: inline-block;
}
.filter>div:last-child span{
    cursor: pointer;
}
.m-r-10{
    margin-right: 10px;
}
.alphabets{
    display: flex;
    gap: 0.5rem;
    /* justify-content: space-between; */
}
.letter{
    width: 100%;
    /* flex-grow: 1; */
    text-align: center;
    padding: 8px;
    border-radius: 3px;
    color: var(--col-gray);
    background-color: rgb(237, 238, 239);
}
.delete{
    padding: 7px 14px;
    border-radius: 3px;
    border: none; 
    color: white;
    background-color: rgb(255 161 161);
}
.grid-head{
    height: 60px;
    padding: 0 25px 0 10px;
    border-bottom: 3px solid rgb(219,219,219);
}
.shadow{
    box-shadow: 0px 0px 10px 2px rgb(187, 186, 186);
    border-radius: 5px;
    /* padding: 10px; */
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
    color: var(--col-gray);
    min-width: min-content;
    height: 60px;
    padding-left: 10px;
}
td{
    font-size: 0.8rem;
    padding: 5px 0 5px 10px;
}
tr{
    border-bottom: 3px solid rgb(219,219,219);
}
.active{
    padding: 8px 12px;
    background-color: rgb(231,244,232);
    color: rgb(122,179,158);
    border-radius: 5px;
}
.table-user-icon{
    width: 35px;
    border-radius: 100%;
    transform: translate(0,3px);
}
.span-block span{
    display: block;
}
.gap05{
    gap: 0.5rem;
}
.dots{
    font-size: 30px;
}
.alphabets>span:nth-child(4){
    color: white;
    background-color: var(--dark-red);
}
.alphabets img{
    object-fit: contain;
}
input[type=checkbox]{
    accent-color: var(--col-gray);
}